.chartcard{
    background-color: white;
    width: 51%;
    height: 30em;
    display: flex;
    flex-direction: row;
   
    margin-right: 30px;
    margin-bottom: 30px;
}
 .chartContainer {
    display: flex;
    flex-direction: row;
    margin-left: 120px;
    margin-right: 90px;
 }