$fontColor: #354168;
@mixin chartStyle($para){
    background-color: white;
    width: 51%;
    min-height: 21em;
    display: flex;
    flex-direction: $para;
   padding: 50px;
    margin-right: 30px;
    margin-bottom: 30px;
}
.chartcard{
    @include chartStyle(row);
    
}
.chartcardTwo{
    @include chartStyle(column);
   
}
.containerss{
    display: flex;
    flex-direction: row;
}
.statuss{
    color: #63637C;
    font-size: 15px;
}
.pcsStatus{
    color:$fontColor;
    font-size: 40px;
    font-weight: 600;
}
 .chartContainer {
    display: flex;
    flex-direction: row;
    margin-left: 120px;
    margin-right: 90px;
 }
 .dotstyle{
     font-size:35px;
     font-weight: bolder;
     color: blue;
     position: relative;
     top: 1em;
     padding-right: 30px;
 }
 .linesss{
    border-left: 2px solid blue;
    border-width: thin;
    position: relative;
    height: 53px;
    top: 2.5em;
    left: 10px;
   
    
 }

 .heding{

font-size: 18px;
font-weight:600 ;
color:$fontColor;
padding-bottom: 10px;
 } 
 .discript{
    color:$fontColor;
    padding-bottom: 5px;
 } 
 .timing{
    color: rgb(163, 159, 159);
    padding-bottom: 20px;
 }
 .updateContainer{
     display: flex;
     flex-direction: column;
 }
 @media only screen and (max-width: 418px) {
    .chartContainer {
       flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
    }   
    .chartcardTwo {
       
        width: 71%;
    }
    .chartcard{
        width: 71%;
       
    }
    .linesss{
        height: 73px;
    }
    .profilelikes {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 414px) {
    .chartContainer {
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
    }
    .chartcardTwo {
       
        width: 71%;
    }
    .chartcard{
        width: 71%;
        
    }
    .linesss{
        height: 73px;
    }

}
@media only screen and (max-width: 360px) {
    .chartContainer {
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
    }
    .chartcardTwo {
       
        width: 70%;
    }
    .chartcard{
        width: 70%;
        
    }
    .linesss{
        height: 85px;
    }
}
@media only screen and (max-width: 320px) {
    .chartContainer {
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
    }
    .chartcardTwo {
       
        width: 65%;
    }
    .chartcard{
        width: 65%;
        
    }
    .linesss{
        height: 120px;
    }
}