$fontColor:#354168;
.upperbar{
    background-color: white;
   min-height: 8em;
    display: flex;
    flex-direction: column;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 5px;
    margin-bottom: 30px;

}
.searchbox{
    background-color: rgb(247, 247, 247);;
    border-radius: 25px;
    padding-left: 15px;
    margin-right: 10px;

}
.search{
    background-color: rgb(247, 247, 247);;
    display: flex;
    flex-direction: row;
  
    border-radius: 25px;
}
.textfields{
    background-color: rgb(247, 247, 247);;
    border-radius: 25px;
   
}
.nameOfUi{
    font-weight: 600;
    font-size: 28px;
}
.notification{
padding-right: 10px;
}
.nameContainer{
    display: flex;
    flex-direction:row;
    font-weight: 600;;
    font-size: 28px;
    padding-bottom: 20px;
    justify-content: space-between;
}
.dashbordSection{
    color:$fontColor;
    font-size: 15px;
   
    padding-top: 15px;
    padding-bottom: 15px;
 width: 17%;
 background-color: rgb(247, 247, 247);
 display: flex;
    align-items: center;
    justify-content: center;   
}
.iconsblock{
    display: flex;
    flex-direction: row;
}
.sections{
    display: flex;
    flex-direction: row;
}
.icons{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    width: 7%;
    justify-content: flex-end;
}
.iconsstyle{
    padding-right: 5px;
    padding-top: 4px;
    color: blueviolet;
 font-weight: bold;
}
@media only screen and (max-width: 418px) {
    .upperbar{
        padding-left: 10px;
    padding-right: 10px;
    }
    .dashbordSection{
        font-size: 10px;
        width: 33%; 
       margin-bottom: 10px;
    }
   
    .sections{

       flex-wrap: wrap;
    }
  }

@media only screen and (max-width: 414px) {
    .upperbar{
        padding-left: 10px;
    padding-right: 10px;
    }
    .dashbordSection{
        font-size: 10px;
        width: 33%; 
       margin-bottom: 10px;
    }
   
    .sections{
      
       flex-wrap: wrap;
    }
  }

  @media only screen and (max-width: 411px) {
    .upperbar{
        padding-left: 10px;
    padding-right: 10px;
    }
    .textfields{
        width: 100px;
       }
   
  }

  @media only screen and (max-width: 360px) {
    .upperbar{
        padding-left: 10px;
    padding-right: 10px;
    }
   
    .nameOfUi{
        padding-top: 1px;
    }
   .textfields{
    width: 100px;
   }
   
  }
  
  @media only screen and (max-width: 320px) {
   
    .dashbordSection{
        font-size: 10px;
        width: 33%; 
       margin-bottom: 10px;
    }
   .textfields{
    width: 60px;
   }
  
  }
