.profilecard{
    background-color: white;
    width: 40%;
    height: 30em;
    display: flex;
    flex-direction: row;
   
    margin-right: 30px;
    margin-bottom: 30px;
}
.profilecontainer{
    display: flex;
    flex-direction: row;
    margin-left: 120px;
    margin-right: 100px;
}