$fontColor: #354168;
.container{
   
    min-height: 8em;
    display: flex;
    flex-direction: row;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 30px;
color: $fontColor;
}
@mixin boxStyle() {
    width: 25%;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: white;
    font-size: larger;
}
.userscount{
    @include boxStyle();
    border-right: groove;
    border-width: thin;
    border-color:rgb(238, 237, 237); ;
    
}
.userscount1{
    @include boxStyle();
}
.positionsetting{
    @include boxStyle();
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.iconPosition{
    padding-right: 15px;
    color: blueviolet;
}
.countss{
font-size: x-large;
font-weight: bold;
}  
.countsofuser{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
@media only screen and (max-width: 418px) {
    .container {
       
        margin-left: 10px;
        margin-right: 21px;
        flex-direction: row;
        flex-wrap: wrap;
       

    }
    @mixin boxStyle() {
        width: 49.5%;
        flex-direction: column;
        height: 8em;
        border-bottom: groove;
        border-width: thin;
    }
    .userscount{
        @include boxStyle();
    
        
    }
    .userscount1{
        @include boxStyle();
    }
  }

@media only screen and (max-width: 414px) {
    .container {
       
        margin-left: 10px;
        margin-right: 10px;
        flex-direction: row;
        flex-wrap: wrap;
        

    }
    @mixin boxStyle() {
        width: 49.5%;
        flex-direction: column;
        height: 8em;
        border-bottom: groove;
        border-width: thin;
    }
    .userscount{
        @include boxStyle();
    
        
    }
    .userscount1{
        @include boxStyle();
    }
  }

  @media only screen and (max-width: 411px) {
    
  }

  @media only screen and (max-width: 360px) {
    
  }